@font-face {
    font-family: 'Miriam Libre';
    font-style: normal;
    font-weight: 400;
    src: url("./DdTh798HsHwubBAqfkcBTL_fZZP7.ttf") format('truetype');
}

@font-face {
    font-family: 'Miriam Libre';
    font-style: normal;
    font-weight: 700;
    src: url("./DdT-798HsHwubBAqfkcBTL_X3LbrQMq_.ttf") format('truetype');
}