<div class="row" >
    <div class="search-box input-group input-group-lg">
        <input #searchBox
               class="form-control"
               type="text"
               placeholder="חפשו במפתח"
               (keyup)="search(searchBox.value)"/>
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div>
    <div class="search-filter">
      <ul class="row">
        <li class="active col-xs-3 col-md-2">
          <a href="#" (click)="resultTotal ? displayDocs  = 'all' : ''"
              [class]= "displayDocs  === 'all' ? 'activeclass'  : ''" >הכל 
            <span>
                ({{resultTotal ? resultTotal.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a href="#" (click)="resultTotalCount.budget ? displayDocs  = 'budget' : '' " 
            [class]= "displayDocs  === 'budget' ? 'activeclass'  : ''">סעיף תקציבי 
            <span>
                ({{resultTotalCount.budget ? resultTotalCount.budget.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a href="#" (click)="resultTotalCount.entities ? displayDocs  = 'entities'  : '' "
            [class]= "displayDocs  === 'entities' ? 'activeclass'  : ''">ארגון 
            <span>
                ({{resultTotalCount.entities ? resultTotalCount.entities.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a href="#" (click)="resultTotalCount.changes ?  displayDocs  = 'changes' : ''"
            [class]= "displayDocs  === 'changes' ? 'activeclass'  : ''" >העברה תקציבית  
            <span>
                ({{resultTotalCount.changes ? resultTotalCount.changes.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a href="#" (click)= "resultTotalCount.supports ? displayDocs  = 'supports' : ''" 
            [class]= "displayDocs  === 'supports' ? 'activeclass'  : ''">תמיכה ממשלתית 
            <span>
                ({{resultTotalCount.supports ? resultTotalCount.supports.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a href="#"  (click)="resultTotalCount.exemption ? displayDocs  = 'exemption' : '' "
            [class]= "displayDocs  === 'exemption' ? 'activeclass'  : ''">רכש 
            <span>
                ({{resultTotalCount.exemption ? resultTotalCount.exemption.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
      </ul>
    </div>
</div>
<div class="search_body" (scroll)="fetchMore(searchBox.value)">
  <div *ngFor="let item of allDocs | async" >
    <div *ngIf="item.type == 'entities'">
      <div *ngIf="displayDocs === 'entities' || displayDocs  === 'all'">
        <search-result-entities [item]="item"></search-result-entities>
      </div>
    </div>
    <div *ngIf="item.type == 'budget'">
      <div *ngIf="displayDocs === 'budget' || displayDocs  === 'all'">
          <search-result-budget [item]="item"></search-result-budget>
      </div>
    </div>
    <div *ngIf="item.type == 'changes' && (displayDocs === 'changes' || displayDocs  === 'all')">
          <search-result-changes [item]="item"></search-result-changes>
    </div>
    <div *ngIf="item.type == 'supports' && (displayDocs === 'supports' || displayDocs  === 'all')">
        <search-result-supports [item]="item"></search-result-supports>
    </div>
    <div *ngIf="item.type == 'exemption' && (displayDocs === 'exemption' || displayDocs  === 'all')" id='view-test'>
        <search-result-exemption [item]="item"></search-result-exemption>
    </div>
    <div *ngIf="item.type == 'contractspending' && (displayDocs === 'contractspending' || displayDocs  === 'all')">
        <search-result-procurement [item]="item"></search-result-procurement>
    </div>
  </div>
<!--<div class="search_body" (scroll)="fetchMore(searchBox.value)">
  <div *ngIf="displayDocs === 'entities' || displayDocs  === 'all'">
    <div *ngFor="let item of entitiesDocs | async" >
      <search-result-entities [item]="item"></search-result-entities>
    </div>
  </div>
  <div *ngIf="displayDocs === 'budget' || displayDocs  === 'all'">
    <div *ngFor="let item of budgetDocs | async">
        <search-result-budget [item]="item"></search-result-budget>
    </div>
  </div>
  <div *ngIf="displayDocs === 'changes' || displayDocs  === 'all'">
    <div *ngFor="let item of changesDocs | async">
        <search-result-changes [item]="item"></search-result-changes>
    </div>
  </div>
  <div *ngIf="displayDocs === 'supports' || displayDocs  === 'all'">
    <div *ngFor="let item of supportsDocs | async">
      <search-result-supports [item]="item"></search-result-supports>
    </div>
  </div>
  <div *ngIf="displayDocs === 'exemption' || displayDocs  === 'all'" id='view-test'>
    <div *ngFor="let item of exemptionDocs | async">
      <search-result-exemption [item]="item"></search-result-exemption>
    </div>
  </div>
  <div *ngIf="displayDocs === 'procurement' || displayDocs  === 'all'">
    <div *ngFor="let item of procurementDocs | async" >
      <search-result-procurement [item]="item"></search-result-procurement>
    </div>
  </div>-->
  <h1 class="loading">...LOADING MORE</h1>
</div>



