<div [ngClass]="{
  row : true,
  headerBottomBorder : headerBottomBorder}" >

    <div class="search-box input-group input-group-lg">
        <input #searchBox
               class="form-control"
               type="text"
               placeholder="חפשו במפתח"
               (keyup)="search(searchBox.value)"
               [value]="term"
               />
        <span class="input-group-addon">
          <i *ngIf="!isSearching" [ngClass]="['glyphicon', 'glyphicon-search', term ? 'search-icon' : '']" (click)="term ? search(term) : undefined"></i>
          <img *ngIf="isSearching" class="search-loader" src="assets/img/loader.svg" />
        </span>
    </div>
    <div class="search-filter">
      <ul class="row col-xs-3 col-md-2">
        <li class="active col-xs-12 col-md-12">
          <a (click)="switchTab($event, resultTotal, 'all')"
              [class]= "displayDocs  === 'all' ? 'activeclass'  : ''" >הכל
            <span>
                ({{resultTotal ? resultTotal.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
      </ul>
        <ul class='row col-xs-9 col-md-10'>
        <li class="active col-xs-3 col-md-2">
          <a (click)="switchTab($event, resultTotalCount.budget, 'budget')"
            [class]= "displayDocs  === 'budget' ? 'activeclass'  : ''">סעיף תקציבי
            <span>
                ({{resultTotalCount.budget ? resultTotalCount.budget.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a (click)="switchTab($event, resultTotalCount.entities, 'entities')"
            [class]= "displayDocs  === 'entities' ? 'activeclass'  : ''">ארגון
            <span>
                ({{resultTotalCount.entities ? resultTotalCount.entities.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a (click)="switchTab($event, resultTotalCount.nationalbudgetchanges, 'nationalbudgetchanges')"
            [class]= "displayDocs  === 'nationalbudgetchanges' ? 'activeclass'  : ''" >העברה תקציבית
            <span>
                ({{resultTotalCount.nationalbudgetchanges ? resultTotalCount.nationalbudgetchanges.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a (click)= "switchTab($event, resultTotalCount.supports, 'supports')"
            [class]= "displayDocs  === 'supports' ? 'activeclass'  : ''">תמיכות
            <span>
                ({{resultTotalCount.supports ? resultTotalCount.supports.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a (click)="switchTab($event, resultTotalCount.procurement, 'procurement')"
            [class]= "displayDocs  === 'procurement' ? 'activeclass'  : ''">רכש
            <span>
                ({{resultTotalCount.procurement ? resultTotalCount.procurement.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a href="#"  (click)="switchTab($event, resultTotalCount.people, 'people')"
            [class]= "displayDocs  === 'people' ? 'activeclass'  : ''">אנשים
            <span>
                ({{resultTotalCount.people ? resultTotalCount.people.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
      </ul>
    </div>
</div>

<div #searchBody class="search_body"
  (scroll)="fetchMore(searchBox.value)">

  <div *ngFor="let item of allDocs | async" >
    <div *ngIf="item.type == 'entities'">
      <div *ngIf="displayDocs === 'entities' || displayDocs  === 'all'">
        <search-result-entities [item]="item"></search-result-entities>
      </div>
    </div>
    <div *ngIf="item.type == 'budget'">
      <div *ngIf="displayDocs === 'budget' || displayDocs  === 'all'">
          <search-result-budget [item]="item"></search-result-budget>
      </div>
    </div>
    <div *ngIf="item.type == 'nationalbudgetchanges'">
      <div *ngIf="displayDocs === 'nationalbudgetchanges' || displayDocs  === 'all'">
          <search-result-changes [item]="item"></search-result-changes>
      </div>
    </div>
    <div *ngIf="item.type == 'supports'">
      <div *ngIf="displayDocs === 'supports' || displayDocs  === 'all'">
        <search-result-supports [item]="item"></search-result-supports>
      </div>
    </div>
    <div *ngIf="item.type == 'contractspending' && (displayDocs === 'procurement' || displayDocs  === 'all')" id='view-test'>
        <search-result-procurement [item]="item"></search-result-procurement>
    </div>
    <div *ngIf="item.type == 'exemptions' && (displayDocs === 'procurement' || displayDocs  === 'all')">
        <search-result-exemption [item]="item"></search-result-exemption>
    </div>
    <div *ngIf="item.type == 'people' && (displayDocs === 'people' || displayDocs  === 'all')">
        <search-result-people [item]="item"></search-result-people>
    </div>
  </div>
  <h1 class="status">{{getStatusText()}}</h1>
</div>



