@import url("https://fonts.googleapis.com/css?family=Miriam+Libre");
budgetkey-container {
  background: #F6F6F6 fixed;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -webkit-linear-gradient(270deg, transparent 0%, rgba(0, 0, 0, 0.05) 100%);
  font-size: 10px;
  min-height: 400px;
  display: block; }
  budgetkey-container .container-fluid {
    max-width: 800px;
    margin: auto;
    left: -50%;
    right: 400px; }
  budgetkey-container .search_body {
    margin-top: 20px; }

em {
  background-color: #ffff1a; }

h1 {
  color: #369;
  font-size: 250%; }

a {
  text-decoration: none !important; }

h1.status {
  text-align: center; }

.sub-items-list {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0; }
  .sub-items-list li + li::before {
    content: ','; }

.sub-item {
  display: inline-block; }

.headerBottomBorder {
  border-bottom: 1px solid #4A4A4A; }

.search-box input.form-control:first-child {
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-left: 0;
  border-right: 0;
  border-radius: 0 25px 25px 0; }
.search-box .downloader {
  height: 44px;
  padding: 4px 8px; }
.search-box img.downloader {
  height: 34px; }
.search-box .input-group-addon:last-child {
  height: auto;
  padding: 11px 16px 7px;
  background: #fff;
  border-radius: 25px 0 0 25px;
  border-color: #DADADA;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.search-filter {
  margin: 20px; }
  .search-filter > ul {
    padding: 0; }
    .search-filter > ul > li {
      list-style: none;
      font-size: 1.4em; }
      .search-filter > ul > li > a {
        color: #9B9B9B;
        display: block;
        border-radius: 3px;
        padding: 3px; }
        .search-filter > ul > li > a:hover {
          background: #fff;
          text-decoration: none; }
      .search-filter > ul > li.active > a {
        color: #4A4A4A;
        font-weight: 700; }

.search-result {
  margin-bottom: 20px !important;
  overflow: visible; }
  .search-result .search-result-body {
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    overflow-y: hidden;
    min-height: 100px; }
  .search-result .result-label {
    font-size: 13px;
    background-color: black;
    color: #fff;
    position: relative;
    display: block;
    width: 100px;
    text-align: center;
    transform: rotate(90deg) translateX(100px) translateY(1px);
    transform-origin: 100% 100%; }
  .search-result .preamble {
    margin-top: -20px;
    height: 0; }
  .search-result .top-part {
    background-color: #fff;
    height: 28px;
    padding-top: 6px;
    font-size: 12px;
    white-space: nowrap;
    vertical-align: top; }
    .search-result .top-part .breadcrumbs {
      display: inline-block;
      margin-left: 10px;
      width: 400px; }
    .search-result .top-part .category {
      display: inline-block;
      width: 100%;
      text-align: left; }
  .search-result .title-part {
    background-color: #f8f8f8;
    padding-top: 6px; }
    .search-result .title-part .title-right-part .title-bit {
      white-space: nowrap;
      overflow: hidden; }
      .search-result .title-part .title-right-part .title-bit .pretitle {
        display: inline-block;
        font-size: 12px;
        line-height: 18px;
        margin-left: 10px;
        white-space: nowrap;
        vertical-align: top; }
      .search-result .title-part .title-right-part .title-bit .title {
        display: inline-block;
        max-width: 400px;
        font-size: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
    .search-result .title-part .title-right-part .transaction {
      display: block;
      width: 750px;
      font-size: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
    .search-result .title-part .pay-period {
      display: inline-block; }
    .search-result .title-part .amount {
      display: inline-block;
      font-size: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-align: left;
      direction: ltr;
      float: left; }
  .search-result .bottom-part {
    width: 700px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 6px; }
    .search-result .bottom-part label, .search-result .bottom-part span {
      font-size: 13px; }
    .search-result .bottom-part label {
      padding-left: 10px;
      font-weight: 500; }

/********* search-result-budget *********/
search-result-budget {
  background: #FFFFFF;
  box-shadow: 0 1px 1px 0 #BEBEBE;
  border-radius: 6px;
  display: block;
  margin-bottom: 20px; }
  search-result-budget .breadcrumb,
  search-result-budget .sub-items {
    padding: 10px 15px;
    font-size: 1.4em; }
  search-result-budget .breadcrumb {
    color: #9B9B9B;
    margin: 0;
    background: none; }
  search-result-budget .header {
    background: rgba(119, 119, 119, 0.2);
    border-top: solid 3px #777777;
    color: #777777;
    font-weight: 700;
    margin: 0; }
    search-result-budget .header .code {
      font-size: 1.4rem;
      font-weight: 400;
      margin-left: 0;
      line-height: 3.6rem; }
    search-result-budget .header .title {
      margin: 0 0 0 0;
      font-size: 2em; }
      search-result-budget .header .title strong {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      search-result-budget .header .title span {
        font-size: 1.6rem;
        display: inline-block; }
    search-result-budget .header .amount {
      text-align: left;
      padding: 0 0 5px 10px;
      display: block;
      font-weight: 700;
      font-size: 1.6em; }
  search-result-budget .inc4 .header {
    background: rgba(194, 8, 1, 0.2);
    color: #C20801;
    border-top-color: #C20801; }
  search-result-budget .inc3 .header {
    background: rgba(251, 63, 6, 0.2);
    color: #FB3F06;
    border-top-color: #FB3F06; }
  search-result-budget .inc2 .header {
    background: rgba(245, 143, 23, 0.2);
    color: #F58F17;
    border-top-color: #F58F17; }
  search-result-budget .inc1 .header {
    background: rgba(234, 175, 3, 0.2);
    color: #EAAF03;
    border-top-color: #EAAF03; }
  search-result-budget .even .header {
    background: rgba(119, 119, 119, 0.2);
    color: #777777;
    border-top-color: #777777; }
  search-result-budget .dec1 .header {
    background: rgba(109, 209, 218, 0.2);
    color: #6DD1DA;
    border-top-color: #6DD1DA; }
  search-result-budget .dec2 .header {
    background: rgba(50, 164, 249, 0.2);
    color: #32A4F9;
    border-top-color: #32A4F9; }
  search-result-budget .dec3 .header {
    background: rgba(0, 101, 222, 0.2);
    color: #0065DE;
    border-top-color: #0065DE; }
  search-result-budget .dec4 .header {
    background: rgba(1, 50, 156, 0.2);
    color: #01329C;
    border-top-color: #01329C; }

/********* search-result-changes *********/
search-result-changes {
  background: #F8F7F0;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 50%);
  box-shadow: 0 3px 3px 0 rgba(189, 189, 189, 0.5);
  min-height: 118px;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #9B9B9B;
  padding-right: 50px;
  position: relative;
  overflow: hidden; }
  search-result-changes:before {
    content: "";
    background: url(../img/paper-hole.svg);
    width: 49px;
    height: 100%;
    border-left: dashed 1px #DCDCDC;
    display: block;
    position: absolute;
    right: 0; }
  search-result-changes .header {
    padding: 10px 15px 0; }
    search-result-changes .header > div {
      border-bottom: dashed 1px #DCDCDC;
      padding-bottom: 10px; }
    search-result-changes .header .title {
      font-weight: 700;
      display: block;
      font-size: 2rem;
      color: #333333; }
    search-result-changes .header .status .date {
      font-weight: 700; }
    search-result-changes .header .amount {
      font-weight: 700;
      display: block;
      font-size: 1.6rem;
      line-height: 2.8rem;
      text-align: left;
      direction: ltr; }
      search-result-changes .header .amount.decreased_a {
        color: #44c4d0; }
    search-result-changes .header .relative-to-original {
      text-align: left;
      display: block; }
  search-result-changes .changes-description {
    padding: 10px; }
    search-result-changes .changes-description .stamp {
      position: absolute;
      width: 60px;
      height: 60px;
      bottom: -10px;
      left: -10px;
      border-radius: 50%;
      border: 2px solid #DCDCDC;
      overflow: hidden;
      display: flex;
      align-items: center;
      /* Vertical center alignment */
      justify-content: center;
      /* Horizontal center alignment */
      transform: rotate(5deg);
      opacity: .5; }
      search-result-changes .changes-description .stamp span {
        border-color: #DCDCDC;
        border-style: solid;
        border-width: 1px 0;
        color: #DCDCDC;
        font-weight: 700;
        display: block;
        text-align: center;
        width: 100%; }

/******** search-result-exemption + supports **********/
.expense {
  background: #F3F8FD;
  border: 1px solid #AEAED7;
  box-shadow: 0 2px 4px 0 rgba(135, 157, 181, 0.5), inset 0 1px 0 0 #FFFFFF;
  min-height: 116px;
  max-height: 320px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 20px; }
  .expense .search-result-type {
    background: #AEAED7;
    color: #fff;
    transform: rotate(90deg);
    width: 100%;
    height: 18px;
    position: absolute;
    display: block;
    right: -50%;
    top: 50%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-right: 9px;
    margin-top: -5px; }
  .expense .meta, .expense .title, .expense .description {
    margin-right: 30px; }
  .expense .header .meta {
    font-size: 1.4em;
    color: #AEAED7;
    padding-top: 5px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .expense .header .title {
    margin: 0 30px 0 0;
    font-size: 2em;
    color: #38388A; }
    .expense .header .title strong {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .expense .header .title span {
      font-size: 1.6rem;
      color: #AEAED7;
      display: inline-block; }
  .expense .header .period {
    text-align: left;
    font-size: 1.4em;
    color: #AEAED7;
    padding: 0 0 0 10px;
    display: block; }
  .expense .header .amount {
    text-align: left;
    padding: 0 0 0 10px;
    display: block;
    font-weight: 700;
    font-size: 2em;
    color: #38388A; }
  .expense .description {
    background: #FFFFFF;
    border-style: solid;
    border-color: #AEAED7;
    border-width: 1px 1px 0 0;
    box-shadow: inset 0 1px 0 0 #FFFFFF;
    padding: 5px 5px 5px 50px;
    font-size: 1.2em;
    color: #797979;
    min-height: 48px;
    overflow: hidden; }
    .expense .description .stamp {
      position: absolute;
      width: 60px;
      height: 60px;
      bottom: -10px;
      left: -10px;
      border-radius: 50%;
      border: 2px solid #AEAED7;
      overflow: hidden;
      display: flex;
      align-items: center;
      /* Vertical center alignment */
      justify-content: center;
      /* Horizontal center alignment */
      transform: rotate(5deg);
      opacity: .5; }
      .expense .description .stamp span {
        border-style: solid;
        border-color: #AEAED7;
        border-width: 1px 0;
        color: #AEAED7;
        font-weight: 700;
        display: block;
        text-align: center;
        width: 100%; }

search-result-supports .expense {
  background: #FEFAF9;
  border-color: #CEB9B5; }
  search-result-supports .expense .search-result-type {
    background: #CEB9B5; }
  search-result-supports .expense .header .breadcrumb {
    color: #CEB9B5;
    margin: 0 30px 0 0;
    background: none;
    font-size: 1.4em;
    padding: 5px 0 0;
    display: block; }
    search-result-supports .expense .header .breadcrumb li + li::before {
      color: #CEB9B5; }
    search-result-supports .expense .header .breadcrumb a {
      color: #CEB9B5; }
    search-result-supports .expense .header .breadcrumb li:last-child a {
      font-weight: 700; }
  search-result-supports .expense .header .title {
    color: #8A4838; }
    search-result-supports .expense .header .title span {
      color: #CEB9B5; }
  search-result-supports .expense .header .period {
    color: #CEB9B5; }
  search-result-supports .expense .header .amount {
    color: #8A4838; }
  search-result-supports .expense .description {
    border-color: #CEB9B5;
    color: #CEB9B5; }
    search-result-supports .expense .description.others {
      background: none;
      padding: 3px 0;
      border: 0;
      border-top: 1px solid #CEB9B5;
      color: #8A4838;
      margin-top: 3px;
      min-height: 46px; }
    search-result-supports .expense .description .stamp {
      border-color: #CEB9B5; }
      search-result-supports .expense .description .stamp span {
        border-color: #CEB9B5;
        color: #CEB9B5; }

search-result-entities {
  margin-bottom: 20px;
  display: block; }
  search-result-entities .entity {
    color: #515151;
    display: block;
    background-color: #FEFAF9;
    border: 1px solid #DBDBDB;
    min-height: 110px;
    position: relative; }
    search-result-entities .entity::before, search-result-entities .entity::after {
      content: "";
      display: block;
      top: -5px;
      background-color: #FEFAF9;
      border: 1px solid #DBDBDB;
      position: absolute;
      height: 3px;
      left: 4px;
      right: 0; }
    search-result-entities .entity::after {
      top: -3px;
      left: 2px; }
    search-result-entities .entity .header {
      z-index: 1;
      position: relative; }
      search-result-entities .entity .header h3 {
        font-size: 2em;
        display: inline-block;
        border-radius: 3px 2px 0 0;
        background: #DEDEDE;
        border-style: solid;
        border-color: #CCC;
        border-width: 1px 1px 0 0;
        padding: 10px 10px 7px;
        position: relative;
        margin: -10px 0 0; }
        search-result-entities .entity .header h3::after {
          content: "";
          background: url(assets/img/entity_angle.svg);
          height: 40px;
          width: 30px;
          display: block;
          position: absolute;
          top: -1px;
          left: -28px; }
    search-result-entities .entity .figures {
      text-align: left;
      height: 100px;
      font-size: 1.4rem;
      padding-top: 5px;
      color: #8A8A8A;
      padding-left: 25px; }
      search-result-entities .entity .figures .figures-info-line {
        display: flex;
        direction: ltr;
        margin: 0 -5px; }
        search-result-entities .entity .figures .figures-info-line > .item {
          margin: 0 5px; }
        search-result-entities .entity .figures .figures-info-line .date-range {
          display: flex; }
          search-result-entities .entity .figures .figures-info-line .date-range .period {
            font-size: 1em; }
          search-result-entities .entity .figures .figures-info-line .date-range .period-separator {
            white-space: pre; }
      search-result-entities .entity .figures .amount {
        text-align: left;
        font-weight: 700;
        font-size: 1em;
        color: #38388A;
        direction: rtl; }
    search-result-entities .entity .body {
      min-height: 80px;
      margin-top: -71px;
      margin-left: 10px;
      border-radius: 2px;
      background: #DEDEDE;
      border: 1px solid #CCC;
      position: relative; }
      search-result-entities .entity .body::after {
        content: "";
        display: block;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: #DEDEDE;
        border: 1px solid #CCC;
        box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 3px 2px 0 0;
        position: absolute; }
      search-result-entities .entity .body .description {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        font-size: 1.4em;
        min-height: 80px; }
        search-result-entities .entity .body .description > div {
          background: #FBFBFB;
          background: linear-gradient(to bottom, #FBFBFB, #FBFBFB 95%, #DEE7EF 95%, #DEE7EF);
          background-size: 100% 20px;
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
          position: relative;
          min-height: 65px; }
          search-result-entities .entity .body .description > div::after {
            content: "";
            width: 1px;
            background: #ECD7D6;
            position: absolute;
            height: 65px;
            right: 60px;
            top: 0; }
          search-result-entities .entity .body .description > div > p {
            margin: 0 5px; }
            search-result-entities .entity .body .description > div > p > strong {
              display: inline-block;
              float: right;
              width: 60px; }
            search-result-entities .entity .body .description > div > p > span {
              display: inline-block;
              float: right;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              width: 90%; }
      search-result-entities .entity .body .stamp {
        line-height: 1.4em;
        width: 114px;
        height: 55px;
        position: absolute;
        top: 15px;
        left: 30px;
        background: url(assets/img/stamp-entity.svg);
        transform: rotate(2deg);
        text-align: center;
        font-size: 1.2em; }
        search-result-entities .entity .body .stamp span {
          padding-top: 10px;
          display: block;
          font-weight: 700; }
    @media (max-width: 768px) {
      search-result-entities .entity {
        margin-bottom: 30px; }
        search-result-entities .entity .header .title {
          margin-left: 19px;
          position: relative;
          z-index: 1; }
        search-result-entities .entity .header h3:after {
          height: 100%;
          margin-bottom: -1px; }
        search-result-entities .entity .header .figures {
          margin: -7px 0 -12px 10px; }
          search-result-entities .entity .header .figures .figures-info-line {
            background: #DEDEDE;
            border-style: solid;
            border-color: #CCC;
            border-width: 1px 1px 0; }
        search-result-entities .entity .body {
          min-height: 122px; }
          search-result-entities .entity .body .description > div::after {
            height: 100px; }
          search-result-entities .entity .body .stamp {
            bottom: -20px;
            top: auto;
            left: -10px;
            z-index: 10; } }

search-result-entities {
  margin-bottom: 20px;
  display: block; }
  search-result-entities .association {
    color: #2B5109;
    display: block;
    background-color: #FEFAF9;
    border: 1px solid #DBDBDB;
    min-height: 110px;
    position: relative; }
    search-result-entities .association::before, search-result-entities .association::after {
      content: "";
      display: block;
      top: -5px;
      background-color: #FEFAF9;
      border: 1px solid #DBDBDB;
      position: absolute;
      height: 3px;
      left: 4px;
      right: 0; }
    search-result-entities .association::after {
      top: -3px;
      left: 2px; }
    search-result-entities .association .header {
      z-index: 1;
      position: relative; }
      search-result-entities .association .header h3 {
        font-size: 2em;
        display: inline-block;
        border-radius: 3px 2px 0 0;
        background: #D1DFC4;
        border-style: solid;
        border-color: #A9CC8B;
        border-width: 1px 1px 0 0;
        padding: 10px 10px 7px;
        position: relative;
        margin: -10px 0 0; }
        search-result-entities .association .header h3::after {
          content: "";
          background: url(assets/img/association_angle.svg);
          height: 40px;
          width: 30px;
          display: block;
          position: absolute;
          top: -1px;
          left: -28px; }
    search-result-entities .association .figures {
      text-align: left;
      height: 100px;
      font-size: 1.4rem;
      padding-top: 5px;
      color: #5E8A38;
      padding-left: 25px; }
      search-result-entities .association .figures .figures-info-line {
        display: flex;
        direction: ltr;
        margin: 0 -5px; }
        search-result-entities .association .figures .figures-info-line > .item {
          margin: 0 5px; }
        search-result-entities .association .figures .figures-info-line .date-range {
          display: flex; }
          search-result-entities .association .figures .figures-info-line .date-range .period {
            font-size: 1em; }
          search-result-entities .association .figures .figures-info-line .date-range .period-separator {
            white-space: pre; }
      search-result-entities .association .figures .amount {
        text-align: left;
        font-weight: 700;
        font-size: 1em;
        color: #38388A;
        direction: rtl; }
    search-result-entities .association .body {
      min-height: 80px;
      margin-top: -71px;
      margin-left: 10px;
      border-radius: 2px;
      background: #D1DFC4;
      border: 1px solid #A9CC8B;
      position: relative; }
      search-result-entities .association .body::after {
        content: "";
        display: block;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: #D1DFC4;
        border: 1px solid #A9CC8B;
        box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 3px 2px 0 0;
        position: absolute; }
      search-result-entities .association .body .description {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        font-size: 1.4em;
        min-height: 80px; }
        search-result-entities .association .body .description > div {
          background: #FBFBFB;
          background: linear-gradient(to bottom, #FBFBFB, #FBFBFB 95%, #DEE7EF 95%, #DEE7EF);
          background-size: 100% 20px;
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
          position: relative;
          min-height: 65px; }
          search-result-entities .association .body .description > div::after {
            content: "";
            width: 1px;
            background: #ECD7D6;
            position: absolute;
            height: 65px;
            right: 60px;
            top: 0; }
          search-result-entities .association .body .description > div > p {
            margin: 0 5px; }
            search-result-entities .association .body .description > div > p > strong {
              display: inline-block;
              float: right;
              width: 60px; }
            search-result-entities .association .body .description > div > p > span {
              display: inline-block;
              float: right;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              width: 90%; }
      search-result-entities .association .body .stamp {
        line-height: 1.4em;
        width: 114px;
        height: 55px;
        position: absolute;
        top: 15px;
        left: 30px;
        background: url(assets/img/stamp-association.svg);
        transform: rotate(2deg);
        text-align: center;
        font-size: 1.2em; }
        search-result-entities .association .body .stamp span {
          padding-top: 10px;
          display: block;
          font-weight: 700; }
    @media (max-width: 768px) {
      search-result-entities .association {
        margin-bottom: 30px; }
        search-result-entities .association .header .title {
          margin-left: 19px;
          position: relative;
          z-index: 1; }
        search-result-entities .association .header h3:after {
          height: 100%;
          margin-bottom: -1px; }
        search-result-entities .association .header .figures {
          margin: -7px 0 -12px 10px; }
          search-result-entities .association .header .figures .figures-info-line {
            background: #D1DFC4;
            border-style: solid;
            border-color: #A9CC8B;
            border-width: 1px 1px 0; }
        search-result-entities .association .body {
          min-height: 122px; }
          search-result-entities .association .body .description > div::after {
            height: 100px; }
          search-result-entities .association .body .stamp {
            bottom: -20px;
            top: auto;
            left: -10px;
            z-index: 10; } }

search-result-entities {
  margin-bottom: 20px;
  display: block; }
  search-result-entities .company {
    color: #093551;
    display: block;
    background-color: #FEFAF9;
    border: 1px solid #DBDBDB;
    min-height: 110px;
    position: relative; }
    search-result-entities .company::before, search-result-entities .company::after {
      content: "";
      display: block;
      top: -5px;
      background-color: #FEFAF9;
      border: 1px solid #DBDBDB;
      position: absolute;
      height: 3px;
      left: 4px;
      right: 0; }
    search-result-entities .company::after {
      top: -3px;
      left: 2px; }
    search-result-entities .company .header {
      z-index: 1;
      position: relative; }
      search-result-entities .company .header h3 {
        font-size: 2em;
        display: inline-block;
        border-radius: 3px 2px 0 0;
        background: #C4D4DF;
        border-style: solid;
        border-color: #8BB2CC;
        border-width: 1px 1px 0 0;
        padding: 10px 10px 7px;
        position: relative;
        margin: -10px 0 0; }
        search-result-entities .company .header h3::after {
          content: "";
          background: url(assets/img/company_angle.svg);
          height: 40px;
          width: 30px;
          display: block;
          position: absolute;
          top: -1px;
          left: -28px; }
    search-result-entities .company .figures {
      text-align: left;
      height: 100px;
      font-size: 1.4rem;
      padding-top: 5px;
      color: #38698A;
      padding-left: 25px; }
      search-result-entities .company .figures .figures-info-line {
        display: flex;
        direction: ltr;
        margin: 0 -5px; }
        search-result-entities .company .figures .figures-info-line > .item {
          margin: 0 5px; }
        search-result-entities .company .figures .figures-info-line .date-range {
          display: flex; }
          search-result-entities .company .figures .figures-info-line .date-range .period {
            font-size: 1em; }
          search-result-entities .company .figures .figures-info-line .date-range .period-separator {
            white-space: pre; }
      search-result-entities .company .figures .amount {
        text-align: left;
        font-weight: 700;
        font-size: 1em;
        color: #38388A;
        direction: rtl; }
    search-result-entities .company .body {
      min-height: 80px;
      margin-top: -71px;
      margin-left: 10px;
      border-radius: 2px;
      background: #C4D4DF;
      border: 1px solid #8BB2CC;
      position: relative; }
      search-result-entities .company .body::after {
        content: "";
        display: block;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: #C4D4DF;
        border: 1px solid #8BB2CC;
        box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 3px 2px 0 0;
        position: absolute; }
      search-result-entities .company .body .description {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        font-size: 1.4em;
        min-height: 80px; }
        search-result-entities .company .body .description > div {
          background: #FBFBFB;
          background: linear-gradient(to bottom, #FBFBFB, #FBFBFB 95%, #DEE7EF 95%, #DEE7EF);
          background-size: 100% 20px;
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
          position: relative;
          min-height: 65px; }
          search-result-entities .company .body .description > div::after {
            content: "";
            width: 1px;
            background: #ECD7D6;
            position: absolute;
            height: 65px;
            right: 60px;
            top: 0; }
          search-result-entities .company .body .description > div > p {
            margin: 0 5px; }
            search-result-entities .company .body .description > div > p > strong {
              display: inline-block;
              float: right;
              width: 60px; }
            search-result-entities .company .body .description > div > p > span {
              display: inline-block;
              float: right;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              width: 90%; }
      search-result-entities .company .body .stamp {
        line-height: 1.4em;
        width: 114px;
        height: 55px;
        position: absolute;
        top: 15px;
        left: 30px;
        background: url(assets/img/stamp-company.svg);
        transform: rotate(2deg);
        text-align: center;
        font-size: 1.2em; }
        search-result-entities .company .body .stamp span {
          padding-top: 10px;
          display: block;
          font-weight: 700; }
    @media (max-width: 768px) {
      search-result-entities .company {
        margin-bottom: 30px; }
        search-result-entities .company .header .title {
          margin-left: 19px;
          position: relative;
          z-index: 1; }
        search-result-entities .company .header h3:after {
          height: 100%;
          margin-bottom: -1px; }
        search-result-entities .company .header .figures {
          margin: -7px 0 -12px 10px; }
          search-result-entities .company .header .figures .figures-info-line {
            background: #C4D4DF;
            border-style: solid;
            border-color: #8BB2CC;
            border-width: 1px 1px 0; }
        search-result-entities .company .body {
          min-height: 122px; }
          search-result-entities .company .body .description > div::after {
            height: 100px; }
          search-result-entities .company .body .stamp {
            bottom: -20px;
            top: auto;
            left: -10px;
            z-index: 10; } }

search-result-entities {
  margin-bottom: 20px;
  display: block; }
  search-result-entities .gov {
    color: #512C0A;
    display: block;
    background-color: #FEFAF9;
    border: 1px solid #DBDBDB;
    min-height: 110px;
    position: relative; }
    search-result-entities .gov::before, search-result-entities .gov::after {
      content: "";
      display: block;
      top: -5px;
      background-color: #FEFAF9;
      border: 1px solid #DBDBDB;
      position: absolute;
      height: 3px;
      left: 4px;
      right: 0; }
    search-result-entities .gov::after {
      top: -3px;
      left: 2px; }
    search-result-entities .gov .header {
      z-index: 1;
      position: relative; }
      search-result-entities .gov .header h3 {
        font-size: 2em;
        display: inline-block;
        border-radius: 3px 2px 0 0;
        background: #F2E5BE;
        border-style: solid;
        border-color: #D7B494;
        border-width: 1px 1px 0 0;
        padding: 10px 10px 7px;
        position: relative;
        margin: -10px 0 0; }
        search-result-entities .gov .header h3::after {
          content: "";
          background: url(assets/img/gov_angle.svg);
          height: 40px;
          width: 30px;
          display: block;
          position: absolute;
          top: -1px;
          left: -28px; }
    search-result-entities .gov .figures {
      text-align: left;
      height: 100px;
      font-size: 1.4rem;
      padding-top: 5px;
      color: #8A4838;
      padding-left: 25px; }
      search-result-entities .gov .figures .figures-info-line {
        display: flex;
        direction: ltr;
        margin: 0 -5px; }
        search-result-entities .gov .figures .figures-info-line > .item {
          margin: 0 5px; }
        search-result-entities .gov .figures .figures-info-line .date-range {
          display: flex; }
          search-result-entities .gov .figures .figures-info-line .date-range .period {
            font-size: 1em; }
          search-result-entities .gov .figures .figures-info-line .date-range .period-separator {
            white-space: pre; }
      search-result-entities .gov .figures .amount {
        text-align: left;
        font-weight: 700;
        font-size: 1em;
        color: #38388A;
        direction: rtl; }
    search-result-entities .gov .body {
      min-height: 80px;
      margin-top: -71px;
      margin-left: 10px;
      border-radius: 2px;
      background: #F2E5BE;
      border: 1px solid #D7B494;
      position: relative; }
      search-result-entities .gov .body::after {
        content: "";
        display: block;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: #F2E5BE;
        border: 1px solid #D7B494;
        box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 3px 2px 0 0;
        position: absolute; }
      search-result-entities .gov .body .description {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        font-size: 1.4em;
        min-height: 80px; }
        search-result-entities .gov .body .description > div {
          background: #FBFBFB;
          background: linear-gradient(to bottom, #FBFBFB, #FBFBFB 95%, #DEE7EF 95%, #DEE7EF);
          background-size: 100% 20px;
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
          position: relative;
          min-height: 65px; }
          search-result-entities .gov .body .description > div::after {
            content: "";
            width: 1px;
            background: #ECD7D6;
            position: absolute;
            height: 65px;
            right: 60px;
            top: 0; }
          search-result-entities .gov .body .description > div > p {
            margin: 0 5px; }
            search-result-entities .gov .body .description > div > p > strong {
              display: inline-block;
              float: right;
              width: 60px; }
            search-result-entities .gov .body .description > div > p > span {
              display: inline-block;
              float: right;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              width: 90%; }
      search-result-entities .gov .body .stamp {
        line-height: 1.4em;
        width: 114px;
        height: 55px;
        position: absolute;
        top: 15px;
        left: 30px;
        background: url(assets/img/stamp-gov.svg);
        transform: rotate(2deg);
        text-align: center;
        font-size: 1.2em; }
        search-result-entities .gov .body .stamp span {
          padding-top: 10px;
          display: block;
          font-weight: 700; }
    @media (max-width: 768px) {
      search-result-entities .gov {
        margin-bottom: 30px; }
        search-result-entities .gov .header .title {
          margin-left: 19px;
          position: relative;
          z-index: 1; }
        search-result-entities .gov .header h3:after {
          height: 100%;
          margin-bottom: -1px; }
        search-result-entities .gov .header .figures {
          margin: -7px 0 -12px 10px; }
          search-result-entities .gov .header .figures .figures-info-line {
            background: #F2E5BE;
            border-style: solid;
            border-color: #D7B494;
            border-width: 1px 1px 0; }
        search-result-entities .gov .body {
          min-height: 122px; }
          search-result-entities .gov .body .description > div::after {
            height: 100px; }
          search-result-entities .gov .body .stamp {
            bottom: -20px;
            top: auto;
            left: -10px;
            z-index: 10; } }

/*# sourceMappingURL=search.component.css.map */
