// Default for entities
.tag {
    background-color: #425136;
    color: #EAF9DE;
}
.title {
    background-color: #EAF9DE;
}
&.part:nth-child(2) {
    border-top: 1px solid #EAF9DE;
}

@each $kind, $tag, $bg in
        (association, #FE8255, #F3EFFA),
        (ottoman-association, #FE8255, #F3EFFA),
        (cooperative, #FE8255, #F3EFFA),
        (professional_association, #FE8255, #F3EFFA),

        (company, #3E4E59, #E8F5FF),
        (foreign_company, #3E4E59, #E8F5FF),
        (provident_fund, #3E4E59, #E8F5FF),
        (west_bank_corporation, #3E4E59, #E8F5FF),

        (municipality, #564A2A, #FEF2D2),
        (religion_service, #564A2A, #FEF2D2),
        (municipal_precinct, #564A2A, #FEF2D2),
        (drainage_authority, #564A2A, #FEF2D2),

        (municipal_parties, #3B524A, #E5F4EF),
        (law_mandated_organization, #3B524A, #E5F4EF),
        (government_office, #3B524A, #E5F4EF),

        (fieldofactivity, #FE8255, #F3EFFA),
        (district, #FE8255, #F3EFFA) {

    .entity-kind-#{$kind} {
        .tag {
            background-color: $tag;
            color: $bg;
            border-color: $tag;
        }
        .title {
            background-color: $bg;
        }
        &.part:nth-child(1) {
            border-bottom: 1px solid $bg;
        }
    }
}

div.part {
    padding: 8px 24px;
    justify-content: space-between;
}

div.part:nth-child(1) {
    padding: 0;
    .top-right {
        cursor: pointer;
        display: flex;
        flex-flow: row;
        flex: 0 1 auto;
        align-items: center;

        .title {
            display: flex;
            flex-flow: row;
            align-items: center;
            padding: 8px 24px;
            .name {
                padding-right: 25px;
                color: #180A42;	
                font-family: "Miriam Libre";
                font-size: 18px;
                font-weight: bold;
            }
        }
    
    }

    .top-left {
        padding: 8px 24px;
        display: flex;
        flex-flow: row;
        align-items: center;
        flex: 1 0 auto;

        .entity-id {        
            margin-left: 20px;
            color: #180A42;
            font-family: "Abraham TRIAL";
            font-size: 12px;
            line-height: 12px;
            span {
                display: block;
                white-space: nowrap;
                font-weight: 100;
            }
            span:nth-child(2) {
                font-weight: 400;
            }
        }    
        
        .description {
            margin: 0 10px;
            margin-right: auto;
            color: #180A42;	
            font-family: "Abraham TRIAL";
            font-size: 10px;
            line-height: 10px;
            max-width: 90px;
            white-space: nowrap;
        }

        .actual {
            color: #4A4A4A;
            font-family: "Miriam Libre";
            font-size: 16px;
            font-weight: bold;
            white-space: nowrap;
        }
    }
    
    @media only screen and (max-width: 600px) {
        & {
            flex-flow: column;
            .top-right {
                .title {
                    flex: 1;
                }
            }
        }
    }
}

div.part:nth-child(2) {
    flex-flow: column;
    .line {
        display: block;
        color: #4A4A4A;	
        font-family: "Abraham TRIAL";	
        font-size: 13px;	
        line-height: 20px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }
}
