div.part {
    padding: 8px 24px;
    justify-content: space-between;
    background-color: #FFFBF2;
}

div.part:nth-child(1) {
    border-bottom: 1px solid rgba(0,0,0,0.04);
    cursor: pointer;
    .details {
        display: flex;
        flex-flow: column;
        .top-line {
            display: flex;
            align-items: center;
            max-width: 500px;
            .tag {
                background-color: #19008F;
                font-weight: 500;
            }
            .title {
                padding-right: 15px;
                color: #19008F;	
                font-family: "Miriam Libre";	
                font-size: 18px;	
                font-weight: bold;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .parties {
            color: #19008F;	
            font-family: "Miriam Libre";
            font-size: 18px;
        }
    }
    .amounts {
        display: flex;
        flex-flow: column;
        text-align: left;
        padding-top: 2px;
        
        .volume {
            color: #19008F;	
            font-family: "Miriam Libre";
            font-size: 16px;
            font-weight: bold;
            white-space: nowrap;
        }
        .period {
            opacity: 0.5;
            color: #19008F;
            font-family: "Abraham TRIAL";
            font-size: 13px;
            white-space: nowrap;
        }
    }
}

div.part:nth-child(2) {
    .description {
        color: #5D4245;
        font-family: "Abraham TRIAL";
        font-size: 13px;
    }
}