budgetkey-container {
  background: #F6F6F6 fixed;
  background-image: -webkit-linear-gradient(270deg, transparent 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: linear-gradient(-180deg, transparent 0%, rgba(0, 0, 0, 0.05) 100%);
  font-size: 10px;
  display: block; }

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%; }

.search-box input.form-control:first-child {
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-left: 0;
  border-right: 0;
  border-radius: 0 25px 25px 0; }
.search-box .input-group-addon:last-child {
  height: auto;
  padding: 11px 16px 7px;
  background: #fff;
  border-radius: 25px 0 0 25px;
  border-color: #DADADA;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.search-filter {
  margin: 20px; }
  .search-filter > ul {
    padding: 0; }
    .search-filter > ul > li {
      list-style: none;
      font-size: 1.4em; }
      .search-filter > ul > li > a {
        color: #9B9B9B;
        display: block;
        border-radius: 3px;
        padding: 3px; }
        .search-filter > ul > li > a:hover {
          background: #fff;
          text-decoration: none; }
      .search-filter > ul > li.active > a {
        color: #4A4A4A;
        font-weight: 700; }

/********* search-result-budget *********/
search-result-budget {
  background: #FFFFFF;
  box-shadow: 0 1px 1px 0 #BEBEBE;
  border-radius: 6px;
  min-height: 118px;
  display: block;
  font-size: 1.4em;
  margin-bottom: 20px; }
  search-result-budget .breadcrumb,
  search-result-budget search-result-budget .sub-items {
    padding: 10px 15px; }
  search-result-budget .breadcrumb {
    color: #9B9B9B;
    margin: 0;
    background: none; }
  search-result-budget .header {
    background: #FEC9C7;
    border-top: solid 3px #C20A04;
    color: #C20A04;
    font-weight: 700;
    margin: 0px; }
    search-result-budget .header .code {
      font-size: 1.4rem;
      font-weight: 400;
      margin-left: 10px;
      line-height: 3.6rem; }
    search-result-budget .header .title {
      font-size: 2rem; }
    search-result-budget .header .amount {
      font-size: 1.6rem;
      line-height: 3.6rem;
      text-align: left;
      direction: ltr;
      display: block; }

/********* search-result-changes *********/
search-result-changes {
  background: #F8F7F0;
  background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 50%);
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 50%);
  box-shadow: 0 3px 3px 0 rgba(189, 189, 189, 0.5);
  min-height: 118px;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #9B9B9B;
  padding-right: 50px;
  position: relative; }
  search-result-changes:before {
    content: "";
    background: url(assets/img/paper-hole.svg);
    width: 49px;
    height: 100%;
    border-left: dashed 1px #DCDCDC;
    display: block;
    position: absolute;
    right: 0; }
  search-result-changes .header {
    padding: 10px 15px 0; }
    search-result-changes .header > div {
      border-bottom: dashed 1px #DCDCDC;
      padding-bottom: 10px; }
    search-result-changes .header .title {
      font-weight: 700;
      display: block;
      font-size: 2rem;
      color: #333333; }
    search-result-changes .header .status .date {
      font-weight: 700; }
    search-result-changes .header .amount {
      font-weight: 700;
      display: block;
      font-size: 1.6rem;
      line-height: 2.8rem;
      text-align: left;
      direction: ltr; }
      search-result-changes .header .amount.decreased_a {
        color: #44c4d0; }
    search-result-changes .header .relative-to-original {
      text-align: left;
      display: block; }
  search-result-changes .changes-description {
    padding: 10px; }

/******** search-result-exemption + supports **********/
.expense {
  background: #F3F8FD;
  border: 1px solid #AEAED7;
  box-shadow: 0 2px 4px 0 rgba(135, 157, 181, 0.5), inset 0 1px 0 0 #FFFFFF;
  min-height: 116px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 10px; }
  .expense .search-result-type {
    background: #AEAED7;
    color: #fff;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 118px;
    height: 18px;
    position: absolute;
    display: block;
    right: -50px;
    top: 50px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em; }
  .expense .meta, .expense .title, .expense .description {
    margin-right: 30px; }
  .expense .header .meta {
    font-weight: 700;
    font-size: 1.4em;
    color: #AEAED7;
    padding-top: 5px;
    display: block; }
  .expense .header .title {
    margin: 0 30px 0 0;
    font-weight: 700;
    font-size: 2em;
    color: #38388A; }
    .expense .header .title span {
      font-weight: 400;
      font-size: 1.6rem;
      color: #AEAED7; }
  .expense .header .period {
    text-align: left;
    font-size: 1.4em;
    color: #AEAED7;
    padding: 5px 0 0 10px;
    display: block; }
  .expense .header .amount {
    text-align: left;
    padding: 0px 0 5px 10px;
    display: block;
    font-weight: 700;
    font-size: 1.6em;
    color: #38388A; }
  .expense .description {
    background: #FFFFFF;
    border: 1px solid #AEAED7;
    color: #AEAED7;
    border-width: 1px 1px 0 0;
    box-shadow: inset 0 1px 0 0 #FFFFFF;
    padding: 5px 5px 5px 50px;
    font-size: 1.4em;
    color: #797979;
    min-height: 66px;
    overflow: hidden; }
    .expense .description .stamp {
      position: absolute;
      width: 60px;
      height: 60px;
      bottom: -10px;
      left: -10px;
      border-radius: 50%;
      border: 2px solid #AEAED7;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      /* Vertical center alignment */
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      /* Horizontal center alignment */
      -webkit-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
              transform: rotate(5deg);
      opacity: .5; }
      .expense .description .stamp span {
        border: 1px solid #AEAED7;
        color: #AEAED7;
        font-weight: 700;
        display: block;
        text-align: center;
        width: 100%;
        border-width: 1px 0; }

search-result-supports .expense {
  background: #FEFAF9;
  border-color: #D7B6AE; }
  search-result-supports .expense .search-result-type {
    background: #D7B6AE; }
  search-result-supports .expense .header .breadcrumb {
    color: #D7B6AE;
    margin: 0 30px 0 0;
    background: none;
    font-weight: 700;
    font-size: 1.4em;
    padding: 5px 0 0;
    display: block; }
    search-result-supports .expense .header .breadcrumb li + li::before {
      color: #D7B6AE; }
    search-result-supports .expense .header .breadcrumb a {
      color: #D7B6AE; }
  search-result-supports .expense .header .title {
    color: #8A4838; }
    search-result-supports .expense .header .title span {
      color: #D7B6AE; }
  search-result-supports .expense .header .period {
    color: #D7B6AE; }
  search-result-supports .expense .header .amount {
    color: #8A4838; }
  search-result-supports .expense .description {
    border-color: #D7B6AE;
    color: #D7B6AE; }
    search-result-supports .expense .description .stamp {
      border-color: #D7B6AE; }
      search-result-supports .expense .description .stamp span {
        border-color: #D7B6AE;
        color: #D7B6AE; }

/*# sourceMappingURL=styles.css.map */