budgetkey-container {
  background: #F6F6F6 fixed;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.05) 100%);
  font-size: 10px;
  display: block;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.input-group.input-group {

}
.search-box{
  input.form-control:first-child {
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-left: 0;
    border-right: 0;
    border-radius: 0 25px 25px 0;
  }
  .input-group-addon:last-child {
    height: auto;
    padding: 11px 16px 7px;
    background: #fff;
    border-radius: 25px 0 0 25px;
    border-color: #DADADA;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
  }
}
.search-filter{
  margin: 20px;

  >ul{
    padding: 0;
    >li {
      list-style: none;
      font-size: 1.4em;
      >a {
        color: #9B9B9B;
        display: block;
        border-radius: 3px;
        padding: 3px;
        &:hover {
          background: #fff;
          text-decoration: none;
        }
      }
      &.active>a {
        color: #4A4A4A;
        font-weight: 700;
      }
    }
  }
}

/********* search-result-budget *********/

search-result-budget {
  background: #FFFFFF;
  box-shadow: 0 1px 1px 0 #BEBEBE;
  border-radius: 6px;
  min-height: 118px;
  display: block;
  font-size: 1.4em;
  margin-bottom: 20px;
  .breadcrumb,
  search-result-budget .sub-items {
    padding: 10px 15px;
  }
  .breadcrumb{
    color: #9B9B9B;
    margin: 0;
    background: none;
  }
  .header {
    background: #FEC9C7;
    border-top: solid 3px #C20A04;
    color: #C20A04;
    font-weight: 700;
    margin: 0px;
    .code {
      font-size: 1.4rem;
      font-weight: 400;
      margin-left: 10px;
      line-height: 3.6rem;
    }
    .title {
      font-size: 2rem;
    }
    .amount {
      font-size: 1.6rem;
      line-height: 3.6rem;
      text-align: left;
      direction: ltr;
      display: block;
    }
  }
}

/********* search-result-changes *********/

search-result-changes {
  background: #F8F7F0;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.40) 0%, rgba(255,255,255,0.00) 50%);
  box-shadow: 0 3px 3px 0 rgba(189,189,189,0.50);
  min-height: 118px;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #9B9B9B;
  padding-right: 50px;
  position: relative;
  &:before {
    content: "";
    background: url(assets/img/paper-hole.svg);
    width: 49px;
    height: 100%;
    border-left: dashed 1px #DCDCDC;
    display: block;
    position: absolute;
    right: 0;
  }
  .header {
    padding: 10px 15px 0;
    > div {
      border-bottom: dashed 1px #DCDCDC;
      padding-bottom: 10px;
    }
    .title{
      font-weight: 700;
      display: block;
      font-size: 2rem;
      color: #333333;
    }
    .status{
      .date{
        font-weight: 700;
      }
    }
    .amount{
      font-weight: 700;
      display: block;
      font-size: 1.6rem;
      line-height: 2.8rem;
      text-align: left;
      direction: ltr;
      &.decreased_a{
        color: #44c4d0;
      }
    }
    .relative-to-original{
      text-align: left;
      display: block;
    }
  }
  .changes-description{
    padding: 10px
  }
}

/******** search-result-exemption + supports **********/

.expense{
  background: #F3F8FD;
  border: 1px solid rgba(136,158,181,0.50);
  box-shadow: 0 2px 4px 0 rgba(135,157,181,0.50), inset 0 1px 0 0 #FFFFFF;
  min-height: 116px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  .search-result-type{
    background: #AEAED7;
    color: #fff;
    transform: rotate(90deg);
    width: 118px;
    height: 18px;
    position: absolute;
    display: block;
    right: -50px;
    top: 50px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .meta, .title, .description {
    margin-right: 30px;
  }
  .header {
    .meta {
      font-weight: 700;
      font-size: 1.4em;
      color: #AEAED7;
      padding-top: 5px;
      display: block;
    }
    .title {
      margin: 0 30px 0 0;
      font-weight: 700;
      font-size: 2em;
      color: #38388A;
    }
    .period{
      text-align: left;
      font-size: 1.4em;
      color: #AEAED7;
      padding: 5px 0 0 10px;
      display: block;
    }
    .amount {
      text-align: left;
      padding: 0px 0 5px 10px;
      display: block;
      font-weight: 700;
      font-size: 1.6em;
      color: #38388A;
    }
  }
  .description {
    background: #FFFFFF;
    border: 1px solid rgba(136,158,181,0.50);
    border-width: 1px 1px 0 0;
    box-shadow: inset 0 1px 0 0 #FFFFFF;
    padding: 5px 5px 5px 50px;
    font-size: 1.4em;
    color: #797979;
    min-height: 66px;
    overflow: hidden;
    .status-stamp {
      position: absolute;
      width: 60px;
      height: 60px;
      bottom: -10px;
      left: -10px;
      border-radius: 50%;
      border: 2px solid #889EB5;
      overflow: hidden;
      display:flex;
      align-items: center; /* Vertical center alignment */
      justify-content: center; /* Horizontal center alignment */
      transform: rotate(5deg);
      opacity: .5;
      span{
        border: 1px solid #889EB5;
        color: #889EB5;
        font-weight: 700;
        display: block;
        text-align: center;
        width: 100%;
        border-width: 1px 0;
      }
    }
  }
}
