<vertical-results 
  *ngIf='state.docType.id!=="all"'
  [state]='state'
  (searching)='onSearching($event)'>
</vertical-results>
<ng-container *ngIf='state.docType.id==="all"'>
  <ng-container *ngFor='let docType of sortedDocTypes()'>
    <ng-container *ngIf='docType.id!=="all"'>
      <horizontal-results
        [docType]='docType'
        [state]='state'
        (searching)='onSingleSearching(docType.id, $event)'
      >
      </horizontal-results>
    </ng-container>
  </ng-container>
</ng-container>