:host {
    display: block;
    width: 610px;
    height: 100%;
}
  
.timeline-scale {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
}

.timeline-item {
    width: 30px;
    height: 100%;
    margin: 0;
    margin-right: 1px;
    text-overflow: clip;
    position: relative;
}

.timeline-item:first-child {
    margin-right: 3px;
}

.timeline-sign {
    width: 7px;
    height: 60%;
    margin: 0;
    position: relative;
}

.timeline-sign>div {
    position: absolute;
    bottom: 0px;
    height: 100%; 
    width: 100%;

    background: rgb(180,221,180); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}

.timeline-year {
    margin: 0;
    padding: 0;
    line-height: 11px;
    position: absolute;
    bottom: 0px;
}
