<div class="row">
    <div class="search-box input-group input-group-lg">
        <input #searchBox
               class="form-control"
               type="text"
               placeholder="חפשו במפתח"
               (keyup)="search(searchBox.value)"/>
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div>
    <div class="search-filter">
      <ul class="row">
        <li class="active col-xs-3 col-md-2"><a href="#">הכל <span>(1)</span></a></li>
        <li class="col-xs-3 col-md-2"><a href="#">סעיף תקציבי <span>(1)</span></a></li>
        <li class="col-xs-3 col-md-2"><a href="#">ארגון <span>(1)</span></a></li>
        <li class="col-xs-3 col-md-2"><a href="#">העברה תקציבית <span>(1)</span></a></li>
        <li class="col-xs-3 col-md-2"><a href="#">תמיכה ממשלתית <span>(1)</span></a></li>
        <li class="col-xs-3 col-md-2"><a href="#">רכש <span>(1)</span></a></li>
      </ul>
    </div>
</div>
<div *ngFor="let item of entitiesDocs | async">
  <search-result-entities [item]="item"></search-result-entities>
</div>
<div *ngFor="let item of budgetDocs | async">
    <search-result-budget [item]="item"></search-result-budget>
</div>
<div *ngFor="let item of changeDocs | async">
    <search-result-changes [item]="item"></search-result-changes>
</div>
<div *ngFor="let item of supportsDocs | async">
  <search-result-supports [item]="item"></search-result-supports>
</div>
<div *ngFor="let item of exemptionDocs | async">
  <search-result-exemption [item]="item"></search-result-exemption>
</div>
