<div class="row" >
    <div class="search-box input-group input-group-lg">
        <input #searchBox
               class="form-control"
               type="text"
               placeholder="חפשו במפתח"
               (keyup)="search(searchBox.value)"/>
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div>
    <div class="search-filter">
      <ul class="row">
        <li class="active col-xs-3 col-md-2">
          <a href="#" (click)="resultCount.total ? displayDocs  = 'all' : ''"
              [class]= "displayDocs  === 'all' ? 'activeclass'  : ''" >הכל 
            <span>
                ({{resultCount.total ? resultCount.total.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a href="#" (click)="resultCount.budget ? displayDocs  = 'budget' : '' " 
            [class]= "displayDocs  === 'budget' ? 'activeclass'  : ''">סעיף תקציבי 
            <span>
                ({{resultCount.budget ? resultCount.budget.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a href="#" (click)="resultCount.entities ? displayDocs  = 'entities'  : '' "
            [class]= "displayDocs  === 'entities' ? 'activeclass'  : ''">ארגון 
            <span>
                ({{resultCount.entities ? resultCount.entities.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a href="#" (click)="resultCount.changes ?  displayDocs  = 'changes' : ''"
            [class]= "displayDocs  === 'changes' ? 'activeclass'  : ''" >העברה תקציבית  
            <span>
                ({{resultCount.changes ? resultCount.changes.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a href="#" (click)= "resultCount.supports ? displayDocs  = 'supports' : ''" 
            [class]= "displayDocs  === 'supports' ? 'activeclass'  : ''">תמיכה ממשלתית 
            <span>
                ({{resultCount.supports ? resultCount.supports.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a href="#"  (click)="resultCount.exemption ? displayDocs  = 'exemption' : '' "
            [class]= "displayDocs  === 'exemption' ? 'activeclass'  : ''">רכש 
            <span>
                ({{resultCount.exemption ? resultCount.exemption.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
      </ul>
    </div>
</div>
<div  (window:scroll)="fetchMore(searchBox.value)">
  <div *ngIf="displayDocs === 'entities' || displayDocs  === 'all'">
    <div *ngFor="let item of entitiesDocs | async" >
      <search-result-entities [item]="item"></search-result-entities>
    </div>
  </div>
  <div *ngIf="displayDocs === 'budget' || displayDocs  === 'all'">
    <div *ngFor="let item of budgetDocs | async">
        <search-result-budget [item]="item"></search-result-budget>
    </div>
  </div>
  <div *ngIf="displayDocs === 'changes' || displayDocs  === 'all'">
    <div *ngFor="let item of changesDocs | async">
        <search-result-changes [item]="item"></search-result-changes>
    </div>
  </div>
  <div *ngIf="displayDocs === 'supports' || displayDocs  === 'all'">
    <div *ngFor="let item of supportsDocs | async">
      <search-result-supports [item]="item"></search-result-supports>
    </div>
  </div>
  <div *ngIf="displayDocs === 'exemption' || displayDocs  === 'all'" id='view-test'>
    <div *ngFor="let item of exemptionDocs | async">
      <search-result-exemption [item]="item"></search-result-exemption>
    </div>
  </div>
  <div *ngIf="displayDocs === 'procurement' || displayDocs  === 'all'">
    <div *ngFor="let item of procurementDocs | async" >
      <search-result-procurement [item]="item"></search-result-procurement>
    </div>
  </div>
</div>


