@import './app/styles/miriam.less';
@import (css) './app/styles/arrows.css';

// COLORS
@bg: #fafafa;

budgetkey-container {
  background: @bg fixed;
  min-height: 400px;
  display: block;
  .container {
    display:flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    app-search {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;
      & > .row {
        max-width: 800px;
        width: 100%;
      }
    }
  }
  .search_body {
    margin-top: 20px;

    .status {
      padding: 0 10px;
      color: #4A4A4A;
      font-family: "Abraham TRIAL";
      font-size: 16px;
      letter-spacing: 0.37px;
      line-height: 19px;
    }
  }

}

budgetkey-header header {
  background-color: #fff;
}

em {
  background-color: #ffff1a;

  &.result-label {
    background-color: inherit;
    font-style: inherit;
  }
}

a {
  text-decoration: none !important;
}

.number {
  direction: ltr;
  unicode-bidi: bidi-override;
}

.sub-items-list {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  li+li::before {
    content: ',';
  }
}

.sub-item {
  display: inline-block;
}

.search-filter{
  margin: 20px;

  >ul{
    padding: 0;
    >li {
      list-style: none;
      font-size: 1.4em;
      >a {
        color: #9B9B9B;
        display: block;
        border-radius: 3px;
        padding: 3px;
        &:hover {
          background: #fff;
          text-decoration: none;
        }
      }
      &.active>a {
        color: #4A4A4A;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .app {
    margin-top: 0;
    min-height: 100vh;
  }

  budgetkey-header {
    display: none;
  }

  budgetkey-container {
    .container {
      app-search {
        & > .row {
          width: 100vw;
        }
      }
    }
  }
  
  budgetkey-footer {
    display: none;
  }

  .type-text-in-search-bar-right {
    display: none;
  }

  .bkmodal-dialog {
    width: 90% !important;
  }

  .bkmodal-content {
    padding: 30px !important;
  }
}