<div class='row'>
  <budgetkey-search-bar [searchTerm]="searchState.term"
                        [selectedSearchType]="searchState.docType"
                        [isSearching]="isSearching"
                        [allowSubscribe]="true"
                        [externalTitle]="searchState.term"
                        [externalUrlParams]="subscriptionUrlParams"
                        [externalProperties]="subscriptionProperties"
                        (search)="onTermChanged($event)"
                        (selected)="onDocTypeSelected($event)"
  ></budgetkey-search-bar>
</div>

<div class='row'>
  <div class='count-tags'>
      <search-tag *ngFor='let docType of docTypes'
                  [name]='docType.name' [amount]='docType.amount' 
                  [selected]='searchState.docType===docType'
                  [main]='true'
                  (click)='onDocTypeSelected(docType)'
      ></search-tag>
  </div>
</div>

<search-filter-menu-bar 
    *ngIf='searchState.docType.id!=="all"'
    [menus]="searchState.docType.filterMenu || []" 
    (selected)="onSearchFilterMenuChange()" 
>
  <timeline-menu [periods]="periods"
            [selectedPeriod]="searchState.period"
            (periodChangeSearch)="periodChangeSearch($event)"
  ></timeline-menu>
</search-filter-menu-bar>

<search-mode-selector 
  [state]='searchState'
  (searching)='isSearching = $event'>
</search-mode-selector>
