:host {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;

    .count-tags {
        display: flex;
        flex-flow: row;
        margin: 0;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 800px;
    
        > div {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            margin: 0 10px;
            justify-content: flex-start;
            align-items: center;
    
            @media only screen and (max-width: 600px) {
                justify-content: center;
            }
        }
        search-tag {
            cursor: pointer;
        }
    
        @media only screen and (max-width: 600px) {
            flex-flow: column;
        }
    }
    
    budgetkey-search-bar {
        width: 100%;
        max-width: 800px;
    }
    
    .bare-count-tags {
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        font-family: "Abraham TRIAL";
    
        .bare-found-results {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #787878;
            margin-left: 16px;
        }
        .bare-more-results-link {
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;        
            text-decoration: underline !important;
            color: #FF5A5F;        
        }
        .bare-found-results, .bare-more-results-link {
            margin-right: auto;
        }
    }
    
    .bare-search-controls {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        margin-top: 28px;
        width: 100%;
    
        .bare-search-control {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            flex: 1 1 auto;
    
            label {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 4px;
            }
        }
    }
}
